main{
    display: flex;
    flex-wrap: wrap;
}

.main--profile{
    width: 50%;
}

.main--profile__picture {
    left: 90px;
    top: 200px;
}

.main--profile__logo{
    top: 100px;
    left: 60px;
    transform: rotate(0);
    width: 40%;
    height: 200px;
    padding: 15px;
    text-align: right;
}

.main--about-me{
    width: 50%;
    margin-top: 25px;
    padding-right: 60px;
}

.main--interests{
    margin-top: 40px;
}