.container-main {
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f3f4;
    justify-content: space-between;
    padding-top: 4.3rem;
}

.container-main__foto{
    justify-content: left;
    width: 50%;
}

.container-main__foto .foto{
    width: 100%;
    height: 100%%;
    border-radius: 14rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    top: 11em;
    left: 6em;
}



.container-head__logo{
    padding-top: 2rem;
    padding-right: 2rem;
    position: absolute;
    top: 18rem;
    right: 16rem;
    font-size: 4rem;
    text-align: right;
    margin-bottom: -10rem;
    width: 51%;
    height: 30rem;

}

.aboutme{
    width: 46%;
    padding: 3rem;
    padding-top: 7rem;
}

.interests{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}