*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: #e9ecef;
}


.header{
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0px;
}

.container-head__logo{
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    width: 85%;
    color: #f8f9fa;
    font-size: 3rem;
    font-weight:400;
    text-align: center;
    transform: rotate(-3deg); 
    border-radius: 0.6em;
    margin-bottom: 2rem;
    background-image: radial-gradient(circle at 15.19% 91.48%, #553604 0, #503801 5.56%, #4a3a00 11.11%, #453c00 16.67%, #3f3e01 22.22%, #394003 27.78%, #324107 33.33%, #2b430c 38.89%, #234411 44.44%, #194517 50%, #0b461d 55.56%, #004723 61.11%, #004729 66.67%, #004830 72.22%, #004836 77.78%, #00483d 83.33%, #004843 88.89%, #00484a 94.44%, #004850 100%);
}

nav {
    width: 100%;
}
.container-head__menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;
    backdrop-filter: blur(10px);
    

}
.nav-item{
    display: inline-block;
    padding: 1rem;
    width: auto;
}
.nav-item a, .icono a, .botonarriba a{
    display: inline-block;
    padding: 1rem;
    width: auto;
    text-decoration: none;
    color: #212529;
    font-size: 2rem;
}

.container-main {
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: f5f3f4;
    justify-content: center;
}

.container-main__foto{
    justify-content: center;
    display: flex;
    width: 100%;
    height: auto;  
}

.container-main__foto .foto{
    width: 25rem;
    height: 25rem;
    border-radius: 12.5em;
    margin-bottom: -5rem;
    margin-top: 2rem;
    position: relative;
    z-index: 90;
    border: 0.3rem solid #e9ecef;
}

.container-main__foto .logo{
    width: 21rem;
    height: 21rem;
    margin-top: 3rem;
    position: relative;
    z-index: 90;
}

.container-main__foto .logo:hover{
    width: 22rem;
    height: 22rem;
    margin-top: 3rem;
    position: relative;
    z-index: 90;
}

.titulo1{
    text-align: center;
    font-size: 3rem; 
}

.fas , .fab{
    font-size: 6rem;
}

.icono{
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    
    
}
.aboutme{
    padding: 2rem;
    width: 100%;
    background-color: f5f3f4;
    
}

.container-footer{
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;

}

.interests{
    margin-bottom: 5rem;
}

.network{
    padding-top: 3rem;
    background-image: radial-gradient(circle at 15.19% 91.48%, #553604 0, #503801 5.56%, #4a3a00 11.11%, #453c00 16.67%, #3f3e01 22.22%, #394003 27.78%, #324107 33.33%, #2b430c 38.89%, #234411 44.44%, #194517 50%, #0b461d 55.56%, #004723 61.11%, #004729 66.67%, #004830 72.22%, #004836 77.78%, #00483d 83.33%, #004843 88.89%, #00484a 94.44%, #004850 100%);
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.network .titulo1{
    width: 100%;
    padding-bottom: 1rem;
}

.network .icono{
    width: 30%;
    padding-bottom: 1rem;
}

.icono a{
    color: black;
}

.botonarriba{
    position: fixed;
    bottom: 2.5rem;
    right: 1rem;
    color: grey;
}

.botonarriba .fas{
    font-size: 5rem;
}

.botonarriba a{
    padding: 0rem;
}