.main--profile{
    height: 250px;
}   

.main--profile{
    justify-content: left;
    padding-left: 20px;
}

.main--profile__logo{
    top: 140px;
    left: 100px;
    text-align: right;
    padding: 15px
}